body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {color: rgb(255, 255, 255); font-family: Helvetica, sans-serif;}
a {
    text-decoration:none;
    color:white;
}
img {
    border-radius:50%;
}

/** bande du haut**/
.bande-section {
    border: solid;
    display : flex;
    flex-direction:row;
}
.logo {
    background-color : grey;
    flex : 1 ;
    text-align:center;
}
.barre {

    flex : 5 ;
    border:solid;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);

}
.panier {
    flex : 1;
    border: solid;
    background-color:grey;
    text-align:center;
    color: white;
}
.register {
    text-align:center;
    background-color: brown;
    color:white;
}

/** Bandeau de sélection entre bulbes et graines**/
.bande-choix {
    height : 60px;;
    display: flex;
    flex-direction: row;
    background-color:rgb(35,47,62);
    color: white;
    padding-left: 3%;
}
.tout {
    padding-top: 20px;
    padding-left: 10px;
}
.bulbes {
    margin-left: 13%;
    padding-top:20px;
    padding-left : 8px;
}
.graines {
    margin-left : 9%;
    padding-top:20px;
    padding-left: 8px;
}
.plantes_massifs {
    margin-left : 9% ;
    padding-top: 20px;
    padding-left: 8px;
}
.rosiers {
    margin-left : 9% ;
    padding-top: 20px;
    padding-left: 8px;
}

/** Liste des produits, avec les images **/
.liste_produits {
    display: flex;
    flex-direction: column;
    margin-top:2%;
}
#produit_1 {
    margin-top:2%;
    margin-left:8%;
}
.produits {
    margin-left:8%;
    margin-top:4%;
}